@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --color-background: #101013;
    --color-navcolor: #969696;
}

body{
    background-color: var(--color-background);
    color: white;
    font-family: "Raleway", sans-serif;
}

nav{
    background-color: var(--color-background);
}

.logo{
    z-index: 999;
    width: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.7s;
    padding: 3px;
    border-radius: 10px;
}

.logo:hover{
    background-color: #2c2c38;
    transition: 0.7s;
}

.nav-span{
    color: var(--color-navcolor);
    padding: 15px 20px;
    border-radius: 10px;
    letter-spacing: 1.1px;
    transition: 0.7s;
    font-size: 13px;
}

.nav-span:hover{
    color: white;
    background-color: #1f1f27;
    transition: 0.7s;
}

.nav-span:active{
    color: white;
    background-color: #1f1f27;
    transition: 0.7s;
}

.landing-page{
    margin-top: 25vh;
}

.landing-page-text{
    color: #969696;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-page-text h1{
    font-size: 2.7rem;
    margin-bottom: 15px;
    font-weight: bolder;
    color: white;
}

.landing-page-img{
    float: right;
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 425px) {
    .landing-page{
        margin-top: 10vh;
    }
    .landing-page-img{
        float: none;
    }
    .landing-page-text{
        margin-top: 5px;
        align-items: center;
    }
    .nav-span{
        float: right;
        padding: 5px 7.5px;
        letter-spacing: 1.1px;
        transition: 0.7s;
        font-size: 13px;
    }
}

.landing-page-btn{
    display: inline-block;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    letter-spacing: 1.1px;
    transition: 0.5s;
    font-size: 15px;
    border: 1px solid white;
    width: 200px;
}

.landing-page-btn:hover{
    color: white;
    background-color: #1f1f27;
    transition: 0.5s;
}

footer{
    position: fixed;
    bottom: 0;
    left: 50;
    text-align: center;
    width: 100vw;
}

footer a{
    font-size: 25px;
    text-decoration: none;
    color: var(--color-navcolor);
    transition: 0.5s;
}

footer a:hover{
    color: white;
    transition: 0.5s;
}

.footer-nav{
    display: flex;
    justify-content: center;
    gap: 30px;
}


/* projeact.html */

.projects{
    text-align: left;
    margin-top: 4rem;s
}

.gradient-text{
    background: linear-gradient(90deg, rgba(42,123,155,1) 0%, rgba(87,199,133,1) 50%, rgba(237,221,83,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
    font-weight: bold;
    font-size: 5rem;
}

.project{
    padding: 2rem;
    background-color: #131318;
    width: 29rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 20px #0a0a0c;
    margin-right: 2rem;
}

.project img{
    width: 25rem;
    height: 13rem;
    border-radius: 10px;
}

.project p{
    color: #ababcc;
    font-size: 0.9rem;
}

.button{
    background-color: #22222c;
    color: white;
    font-weight: bold;
    transition: 1;
    font-size: 1.2rem;
}

.button:hover{
    border: 1px solid #ababcc;
    background-color: #131318;
    color: #ababcc;
    transition: 1;
}